/* OfferPlant Custom CSS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}
.bootbox-close-button{
    float: right!important;
    border: none;
    background:none!important;
    font-size:18px;
}

.form-control, .input-group >.btn{
    border: 1px solid #f69226!important;
}

.form-group {
    margin-top:10px;
}
.card-header{
    border-bottom: 1px solid #d2d6da!important;
    padding-bottom: 0.7em;
    padding-left: 1.6em;
    font-weight: 800;
}
.card-title{
    color: gray;
}
.error{
    color:#d00;
    font-size:10px;
}

.label{
    background-color: #50534a;
    font-size:14px;
    text-transform: uppercase;
    padding:4px;
    padding-left: 10px;
    color: #fff;;
    border-radius: 0px;
    font-weight: 800;
    border-left:solid 24px #f69226;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

input[readonly] {
    background-color:#d8d9d6;
    font-weight: 700;
    border:solid 1px #d6d6d6 !important;
    color:#666;
  }

.bg-purple{
    background-color: #f2d9f7!important;
    color:#222;
    font-weight: 600;
}

td{
    padding:4px !important;
    font-size: 13px;
}
th{
    padding:4px !important;
    font-size: 13px;
    font-weight:600;
}

.dt-button{
    padding:4px;
    background:#222e3c;
    color:#fff;
    margin:3px;
    font-size:9px;
    border-radius: 2px;
}

.edit_box:hover,.edit_box:active,.edit_box:focus{
        color:red;
        font-size:13px;
        border-bottom:dotted 1px dodgerblue;
        padding:2px 6px;
    }
    
.sidebar-link i, .sidebar-link svg, a.sidebar-link i, a.sidebar-link svg {
    color: #f69226;
    margin-right: 0.75rem;
}

.sidebar-dropdown .sidebar-item.active .sidebar-link {
    background: transparent;
    border-left: 0;
    color: #f69226;
    font-weight: 400;
}

.stat {
    align-items: center;
    background: #fef1d5!important;
    border-radius: 50%;
    color: #3b7ddd;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}
